<h1>Editing Catigory</h1>
<%@catigory.category_id = @catigory.id%>
<%= render 'form' %>
<%= link_to 'Show', catigory_path(params[:id]) %> |
<%= link_to 'Back', catigories_path %>
<%= link_to 'Home',       root_path %>
